[build]
  functions = "functions"
  publish = "public"

[dev]
  functions = "functions"
  publish = "public"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api"
  status = 200

[functions]
  included_files = ["views/**/*.ejs", "public/**/*"]
